
h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridBtn {
  margin-bottom: 24px;
  padding: 5px;
  font-size: 16px;

}

.container {
  height: 500px;
  width: 500px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  outline: 0.5px solid black;
  flex: 1;
  box-sizing: border-box;
  display: flex;
}

.cell {
  outline: 0.1px solid black;
  flex: 1;
  box-sizing: border-box;
}